<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <main>
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form action="/" id="mainform">
            <input type="text" placeholder="Type your address..." name="txtaddress" id="inpaddress">
            <button>Search</button>
        </form>
        <p id="message1"></p>
        <p id="message2"></p>
    </main>
    {{>footer}}
    <script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>